<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>We Love Deadpool</title>
</head>
<body>
    <img src="/homebackground.jpg" alt="">
    
    <iframe width="1200" height="600" src="https://www.youtube.com/embed/ZDcOQGM_Z30?controls=0&amp;end=17&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="video"></iframe>

    
</body>
</html>