<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>We Love Deadpool</title>
</head>
<body>
    <img src="/homebackground.jpg" alt="" class="background">

    <div class="containerlogo">
        <a href="/bye"><img src="/images/logo.png" class="logo"></a>
        <h1>Hello Fuckers</h1>
    </div>


    <a href="https://www.emp.ie/fan-merch/deadpool/"target="_blank"><img src="/images/dead.png" class="dead"></a>
    <a href="/pool"><img src="/images/pool.png" class="pool"></a>
    <a href="/photos"><img src="/images/photos.png" class="photos"></a>
    <a href="/paintings"><img src="/images/paintings.png" class="paintings"></a>
    
</body>
</html>